<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Playlister</title>
  </head>

  <body>
  <h1>Sinatra Playlister</h1>
  <a href="/artists">All Artists</a>
  <a href="/genres">All Genres</a>
  <a href="/songs">All Songs</a>
  <a href="/songs/new">Create a Song</a>
  <%# <a href="/songs"> %>
    <%= yield %>
  </body>
</html>