<!DOCTYPE html>
<html>
  <head>
    <title>playlister</title>
  </head>
  <body>

    <h1>Playlister</h1>
    
    <label>View Actions:</label>
    <a href="/artists">View Artists</a>
    <a href="/songs">View Songs</a>
    <a href="/genres">View Genres</a>

    <br>

    <label>Create Actions:</label>
    <a href="/songs/new">New Song</a>
  
    <%= yield %>
  
  </body>
</html>